body {
    font-size: medium;
    font-style: normal,purple,50%;}

h1 {
    border-radius: 5%;
    background-color: aqua;}


h2 {
    font-size: large;
    font-style: normal,red,bold;

    margin: 0px;
    align-content: center;

}
    




