padding: 0.25rem;
}

a:hover { color: #a2745c; }

.subtle { 
    opacity: 0.8;
    font-size: 0.9rem;
}

.large-Txt{
    font-size: 5rem;
}

.fab {
    font-size: 4.5rem;
    padding-left: 3rem;
}

.fas {
    font-size: 4.5rem;
    padding-left: 3rem;
}

/* Header & Footer  */

header {
    padding: 2% 5%;
}

footer a:hover { 
    color: #d3b4a2; 
}

/* Background Images */

.bg-image {
    background-color:rgb(240,240,240); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/blue.jpg');
}

.bg-picture {
    background-image: url('/images/person.jpg');
}



/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

    .hide-sm {display: none; }

    .center-sm { text-align: center; }
}

